<% content_for :background_image do %>
  <%= image_tag 'logo.png', id: 'home-logo' %>
<% end %>

<h1>Darts London</h1>
<p>Darts, darts, darts, darts, darts, darts, darts, darts, darts, darts, darts,
darts, darts, darts, darts, darts, darts, darts, darts, darts, darts, darts, darts,
darts, darts, darts, darts, darts, darts, darts, darts, darts, darts, darts, darts,
darts, darts, darts, darts, darts, darts, darts, darts, darts, darts, darts, darts,
darts, darts, darts, darts, darts, darts
</p>

<div id="latest-pub-reviews">
  <% @pubs.each do |pub| %>
    <div class="latest-pub-review">
      <h3><%= pub.name %></h3>
      <p><%= pub.description %>
    </div>
  <% end %>
</div>
