<% content_for :background_image do %>
  <%= image_tag 'logo.png', id: 'home-logo' %>
<% end %>

<h1>Darts London</h1>
<p>Darts, darts, darts, darts, darts, darts, darts, darts, darts, darts, darts,
darts, darts, darts, darts, darts, darts, darts, darts, darts, darts, darts, darts,
darts, darts, darts, darts, darts, darts, darts, darts, darts, darts, darts, darts,
darts, darts, darts, darts, darts, darts, darts, darts, darts, darts, darts, darts,
darts, darts, darts, darts, darts, darts
</p>
