<% content_for :background_image do %>
  <%= image_tag 'logo.png', id: 'home-logo' %>
<% end %>

<h1>Darts London</h1>
<p>
  Welcome to <%= link_to 'Dartslondon.co.uk', '/' %> your guide to the best pubs and bars in London
  in which to play darts. This site covers venues from North London to south
  London, east London to west London, and we're constantly adding new pubs to the
  database. If you want to find where to play darts in London you're in the right
  place
</p>

<div id="latest-pub-reviews">
  <% @pubs.each do |pub| %>
    <div class="latest-pub-review">
      <h3><%= link_to(pub.name, pub) %></h3>
      <p><%= pub.description %></p>
    </div>
  <% end %>
</div>
