<% content_for(:title, "#{@region.title_tag || @region.name} | DartsLondon") %>

<h1><%= @region.name %></h1>
<p><%= @region.description %></p>

<% @pubs.each do |pub| %>
  <div>
    <h2><%= link_to(pub.name, pub) %></h2>
    <%= pub.description %>
  </div>
<% end %>
